.card__main {
  /* border: solid red 3px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__title {
  margin-top: 200px;
  color: black;
  text-align: center;
}

.card__container {
  /* border: 2px solid red; */
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
  width: 95%;
  padding: 10px;
  background-color: rgb(231, 212, 212);
  box-shadow: 0 0 5px rgb(173, 159, 159);
  color: black;
}

.card__subcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  padding: 10px;
  color: black;
}

.card__individual {
  border: solid 2px rgb(255, 255, 255);
  display: flex;
  width: 450px;
  height: 500px;
  flex-direction: column;
  margin: 20px;
  /* justify-content: center; */
  padding: 20px;
  background-color: rgb(218, 218, 218);
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.card__image {
  width: 60%;
  border-radius: 10px;
}

.card__input-search {
  background-color: white;
  color: black;
  width: 40%;
  padding: 7px;
  border: solid black 2px;
  border-radius: 10px;
  margin: 20px;
}

.card__filter {
  display: flex;
  /* padding: 20px; */
  width: 20%;
  justify-content: space-around;
  text-align: center;
  font-size: 20px;
  /* border: 2px red solid; */
}

.card__label-filter {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.card__btn {
  margin-right: 10px;
  /* margin-top: 10px; */
  /* margin-bottom: 20px; */
  color: white;
  display: flex;
  align-items: center;
  background-color: #ea1d2c;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.card__container-image {
  padding: 20px;
}

@media (max-width: 768px) {
  .card__title {
    margin-top: 240px;
  }

  .card__input-search {
    width: 80%;
    padding: 20px;
    font-size: 20px;
  }

  .card__label-filter {
    width: 300px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }

  .card__filter {
    width: 100%;
  }

  .card__individual {
    font-size: 18px;
  }
}