.card__main {
  /* border: solid red 3px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__container {
  /* border: 2px solid red; */
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
  width: 95%;
  padding: 10px;
  background-color: rgb(231, 212, 212);
  box-shadow: 0 0 5px rgb(173, 159, 159);
  color: black;
}

.card__subcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  padding: 10px;
  color: black;
}

.card__individual {
  /* border: solid 2px green; */
  display: flex;
  width: 45%;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  /* justify-content: center; */
  padding: 20px;
  background-color: rgb(206, 206, 206);
  border-radius: 5px;
}

.card__image {
  width: 50%;
}