.signup__container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px red solid; */
  width: 50%;
  margin: 20px;
  /* height: 100vw; */
}

.signup__main {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  /* border: 2px solid red; */
  padding: 40px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(192, 191, 191);
  color: #414143;
}

.signup__container-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  /* border: solid 2px green; */
  
}

.signup__input-email, .signup__input-password, .signup__input-name {
  /* border: solid 2px blue; */
  border: solid 1px #414143;
  color: black;
  border-radius: 3px;
  width: 80%;
  height: 0.5vw;
  margin: 1vw;
  padding: 1vw;
  font-size: 1vw;
  background-color: white;
}

.signup__btn {
  margin-right: 10px;
  background-color: #ea1d2c;
  color: white;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.signup__btn:hover {
  color: white;
}

.signup__btn:focus,
.signup__btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.signup__select {
  width: 100%;
  padding: 5px;
  background-color: white;
  color: black;
  margin: 20px 0;
  font-size: 20px;
}

.uf {
  font-size: 18px;
}

@media (max-width: 768px) {
  .signup__container {
    width: 100%;
  }

  .signup__input-email, .signup__input-password, .signup__input-name {
    /* border: solid 2px blue; */
    width: 100%;
    height: 10vw;
    margin: 1vw;
    padding: 1vw;
    font-size: 5vw;
    background-color: white;
  }
}