.cardOrders__container {
  /* border: red 2px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardOrders__card {
  border: gray 2px solid;
  border-radius: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 10px;
  padding: 10px;
}

#status {
  color: green;
}

.cardOrders__btn {
  margin-right: 10px;
  margin-bottom: 20px;
  color: white;
  display: flex;
  align-items: center;
  background-color: #ea1d2c;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (max-width: 768px) {
  .cardOrders__card {
    width: 90%;
  }
}